@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.mine{
    height: fit-content;
    width: 100svw;
}
.empty{
    height: 12svh;
    width: 100svw;
    backdrop-filter: blur(10px);
}
.mtitle{
    height: 10svh;
    width: 100svw;
    align-content: center;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    z-index: 5;
}
.mbody{
    height: 78svh;
    width: 100svw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}
.mtext{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 15px;
}
.mpic{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pic{
    height: 380px;
    width: 380px;
    border-radius: 50%;
    background-color: var(--first);
    box-shadow: 0px 0px 40px var(--first);
    position: relative;
}
.pic > img{
    height: 520px;
    width: 520px;
    position: absolute;
    top: 32.5%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.dynamic{
    width: 100%;
}
.dynamic-text{
    border-right: 2px solid white;
}
.dynamic {
    font-size: 24px;
    font-weight: bold;
}

.mtext p {
    margin: 5px 0;
}
.mp1{
    font-size: 22px;
    opacity: .9;
}
.mp2{
    font-size: 18px;
    opacity: .7;
}
.mp3{
    font-size: 45px;
    font-weight: 900;
}
.mp4{
    font-size: 20px;
    opacity: .8;
    text-align: start;
    line-height: 1.5rem;
}


.micons{
    width: 100%;
    height: 150px;
    display: flex;
}
.mpure-icons{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
    margin-left: 10px;
    font-size: 26px;
    filter: drop-shadow(0px 0px 10px var(--first));
}

.mgs{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.gs{
    height: 40px;
    width: 130px;
    text-align: center;
    align-content: center;
    border-radius: 20px;
    background-color: #00a0fc;
    transition: all .3s ease;
    cursor: pointer;
    user-select: none;
    z-index: 1;
}
.gs:hover{
    box-shadow: 0px 0px 30px #00a0fc;
    transition: all .3s ease;
}


@media only screen and (max-width: 1000px){
    .mtext{
        width: 400px;
    }
}

@media only screen and (max-width: 900px){
    .mpic{
        width: 400px;
        height: 450px;
    }
    .pic{
        height: 350px;
        width: 350px;
    }
    .pic > img{
        top: 36.2%;
        height: 450px;
        width: 450px;
    }
}

@media only screen and (max-width: 800px){
    .mpic{
        width: 350px;
        height: 400px;
    }
    .pic{
        height: 300px;
        width: 300px;
    }
    .pic > img{
        top: 34%;
        height: 400px;
        width: 400px;
    }
}


@media only screen and (max-width: 700px){
    .mbody{
        height: fit-content;
    }
    .mpure-icons{
        font-size: 32px;
        width: 60%;
    }
    .mgs{
        width: 40%;
    }
}

@media only screen and (max-width: 600px){
    .empty{
        display: none;
    }
    .mtitle{
        z-index: 4;
        position: relative;
    }
    .mp4{
        line-height: 1.35rem;
    }
}

@media only screen and (max-width: 420px){
    .mp1{
        font-size: 20px;
    }
    .dynamic{
        font-size: 20px;
    }
    .mtext{
        width: 320px;
    }
    .mpure-icons{
        font-size: 30px;
        width: 50%;
        justify-content: center;
    }
    .mgs{
        width: 50%;
    }
    .gs{
        height: 30px;
        width: 100px;
        font-size: 16px;
    }
}
